

  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #f3f3f3;
    background-image: url("illustration.png");
   background-repeat: no-repeat;
  }

  
  /* GENERAL ELEMENTS */
  .container{
    padding:0 1rem;
  }
  /*
  .container {
    display: grid;
    grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
    grid-template-rows: min-content 90vh repeat(9, min-content);
  }
  
  @media screen and (max-width: 800px) {
    .container {
      grid-template-rows: min-content 100vh repeat(9, min-content);
    }
  }
*/
  .header {
   /* grid-column: container-start / container-end;*/
    position: absolute;
  }
  
  

  /* nav and stickly class at the same time */
  .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
  }
  
  /**/
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav__item {
    margin-left: 4rem;
  }
  
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    
    color: #222;
  }
  
  .nav__link--btn:hover,
  .nav__link--btn:active {
    

    color: #333;
  }
  
 

  /* MODAL WINDOW */
.modal {
     position:fixed;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*max-width: 70rem;*/
  /*padding: 6rem 4rem;*/
  padding:2.5rem;

  z-index: 1000;
  transition: all 0.5s;
  display: flex;
 
  
 
  }
  /*-Overlay--*/
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  background-color: rgba(6, 3, 9, 0);
 /* background-image: url('bg.jpeg');*/
   
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }
  

  /*Subscription Service*/
  .subscription-service{
    background-color:white;
  flex-wrap: wrap;
  padding: 2rem;
  text-align: center;
  

  }
 
  img{
    
    width:50%;
    height:50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;


}
  
  /*-Form--*/
  #text-top{

    color:#05ffa6;
    font-size:1.5rem ;
    
  }

  .subscribe-form{
    background-color: #152238;
    padding: 3rem;
  
  }
  
 
    
  input{
   margin: 4px 0;
    background-color: #444;
    padding: 1rem;
    border: none;
  }

  /*Button Close Modal*/
  .btn--close-modal {
    font-family: inherit;
    color:white;
    position: fixed;
    top: 0.5rem;
    right: 3.1rem;
    margin-top: 1.5rem;
    
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 100;
  }

  .submit-button{
    background-color:#05ffa6;
    padding: 1rem;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
  }

  
 .text{
    color:#f3f3f3;
 }
 
  .hidden {
    visibility: hidden;
    opacity: 0;
  }


  @media screen and (min-width: 900px) {
    .modal {
      display: flex;
      position: absolute;
    }
    .submit-button{
      width:100%;
    }
    .subscribe-form{
      padding: 1rem;
    }
    .subscription-service{
      padding: 0;
    }
  } 

/*
  @media screen and (max-width: 900px) {
   .modal{
      flex-wrap: wrap;
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
   height:100vh;
      
  }
  #text-top{
    text-align: center;
  } 
  .subscription-service{
    padding: 0;
   
  }
.subscribe-form{
    padding: 10rem;
   
  }
  }
*/

 @media screen and (max-width: 800px ) {
  .modal {
    display: flex;
   /* padding: 1rem;*/
    position: block;
   /* grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));*/
  flex-wrap:wrap;
  padding: 6rem 4rem;
  margin-top: 2rem;
  
  }
  
  .subscribe-form{
    padding: 6.5rem;
    margin-bottom: 5rem;
   /* grid-template-columns:container-start / container-end;*/
  }
  #text-top{
    font-size: 1.2rem;
    
    
  }
  .submit-button{
    padding: 0.5rem;
    align-items: center;
    padding: 0.2rem;
    
  }
  img{
    
    width: 30%;
    height:30%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    


}
.btn--close-modal{
  font-family: inherit;
    color:black;
    position: fixed;
    top: 0.5rem;
    right: 3.1rem;
    margin-top: 2.5rem;
    
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 100;
}
} 

/*
@media screen and (max-width: 384px) {
  .modal {
   
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
    height: 120vh;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
  .submit-button{
    width:100%;
  }
} 
*/